@{
    ViewData["Title"] = "Stat";
}
@*note lai 11:47*@
<div class="card card-success">
    <div class="card-header">
        <h3 class="card-title">Statistics</h3>
        <div class="container">
            <form id="dateForm" method="get">
                <div class="row">
                    <div class="col-6">
                        <label for="fromDate" class="form-label mt-4">From:</label>
                        <input type="date" class="form-control" id="fromDate" name="fromDate" placeholder="" autocomplete="off">
                    </div>
                    <div class="col-6">
                        <label for="toDate" class="form-label mt-4">To:</label>
                        <input type="date" class="form-control" id="toDate" name="toDate" placeholder="" autocomplete="off">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3" >Get Data</button>
            </form>
        </div>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="chart">
            <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/chart.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    
    <script>
        $(document).ready(function () {
            $('#dateForm').on('submit', function (e) {
                e.preventDefault(); // Ngăn chặn việc gửi form mặc định

                // Lấy giá trị từ hai ô input ngày
                var fromDate = $('#fromDate').val();
                var toDate = $('#toDate').val();
        var arrDoanhThu=[];
        var arrDoanhSo = [];
        var arrDate = [];


        $.ajax({
            url: '/Admin/Statistics/GetStats',
            type: 'GET',
            data: {
                        fromDate: fromDate,
                        toDate: toDate
            },
            success: function (rs) {
                $.each(rs.data,function (i,item) {
                    var strDate= moment(item.date).format('DD/MM/yyyy');
                    console.log(strDate)
                    arrDate.push(strDate);
                    arrDoanhThu.push(item.totalBuy);
                    arrDoanhSo.push(item.noB);
                });

                var areaChartData = {
                    labels: arrDate,
                    datasets: [
                        {
                            label: 'Sales',
                            backgroundColor: 'rgba(60,141,188,0.9)',
                            borderColor: 'rgba(60,141,188,0.8)',
                            pointRadius: false,
                            pointColor: '#3b8bba',
                            pointStrokeColor: 'rgba(60,141,188,1)',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(60,141,188,1)',
                            data: arrDoanhThu
                        },
                        {
                            label: 'Product sales',
                            backgroundColor: 'rgba(210, 214, 222, 1)',
                            borderColor: 'rgba(210, 214, 222, 1)',
                            pointRadius: false,
                            pointColor: 'rgba(210, 214, 222, 1)',
                            pointStrokeColor: '#c1c7d1',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(220,220,220,1)',
                            data: arrDoanhSo
                        },
                    ]
                }

                var barChartCanvas = $('#barChart').get(0).getContext('2d')
                var barChartData = $.extend(true, {}, areaChartData)
                var temp0 = areaChartData.datasets[0]
                var temp1 = areaChartData.datasets[1]
                barChartData.datasets[0] = temp1
                barChartData.datasets[1] = temp0

                var barChartOptions = {
                    responsive: true,
                    maintainAspectRatio: false,
                    datasetFill: false
                }

                new Chart(barChartCanvas, {
                    type: 'bar',
                    data: barChartData,
                    options: barChartOptions
                })
            }
        })
        })
});
    </script>

}

